body {
    margin: 0;
    font-size: 12px;
}
header{
    height: 8vh;
}
main{
    min-height: 82vh;
}
footer{
    height: 10vh;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: pink;
}
.parallax {
    /* The image used */
    /* background-image: url("/assets/img/4280871.jpg"); */

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #000;
}

span.border {
    /* background-color: #FCEAE8; */
    color: black;
    font-family: 'New Tegomin', serif;
    font-weight: bold;
    padding: 18px;
    font-size: 3.5em;
    letter-spacing: 10px;
}

.logo {
    height: 40px;
}

p {
    font-family: 'New Tegomin', serif;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'New Tegomin', serif;
}

.introText{
    height:500px;
    background-color:white;
    font-size: 3em;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 300px) and (max-width: 800px){
    .introText{
        font-size: 2em;
    }
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
}

figure img {
    max-width: 500px;
    max-height: 250px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.indent{
    text-indent: 50px;
}

.textKana{
    font-size: 2em;
}

fieldset{
    border: solid black 1px;
    border-radius: 10px;
}
form{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.logoSmall{
    max-height: 100%;

    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hiraganaModal{
    max-height: 100%;
    max-width: 100%;
}

.modal-content{
        width: 700px;
        height: 400px;
}

@media screen and (min-width: 300px) and (max-width: 700px){
    .modal-content{
       max-width: 100%;
       height: 200px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px){
    .modal-content{
       max-width: 100%;
       margin-right: auto;

    }
}

.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #FF0016;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

.company_title img{
    width: 20%;
    height: 100%;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#FF0016;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #FF0016;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#FF0016;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #FF0016;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #FF0016;
	color:#fff;
}
.btn2{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#FF0016;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #FF0016;
	margin-top: 1.5em;
	margin-bottom: 1em;
    margin-left: 6em;
}
.btn2:hover, .btn:focus{
	background-color: #FF0016;
	color:#fff;
}